<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask 2048</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" />
</head>

<body>
    {% block content %}
    <h1 class="title">2048</h1>
    <h2 class="score">Score: {{score}}</h2>
    <dialog>
        <div class="modalDiv">
            <p class="message"></p>
            <button onClick="location.reload();">Reset</button>
        </div>
    </dialog>
    <table>
        {% for row in mat %}
        <tr>
            {% for cell in row %}
            <td>
                {% if cell != 0 %}
                <div class="cell cell-{{cell}}">{{cell}}</div>
                {% else %}
                <div class="cell"></div>
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    {% endblock %}
    <script src="{{url_for('static', filename='move.js')}}"></script>
</body>

</html>